{
  "presets": ["es2015", "stage-1", "react"],
  "ignore": [
    "/node_modules/"
  ],
  "env": {
    "test": {
      "plugins": ["rewire"]
    },
    "production": {
      "plugins": ["lodash"]
    }
  }
}
