{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true,
    "node": true
  },
  "ecmaFeatures": {
    "defaultParams": true
  },
  "rules": {
    "react/jsx-filename-extension": 0
  }
}
